<div class="container">
    <div class="mb-3 mt-3">
        <label for="an">Article Name</label>
        <input  [(ngModel)]="newArticle.name" type="text" id="name" class="form-control" placeholder="Article name">
    </div>
    <div class="mb-3">
        <label for="desc">Desccription</label>
        <textarea [(ngModel)]="newArticle.description" id="description" cols="30" rows="3" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label for="price">Unit Price</label>
        <input [(ngModel)]="newArticle.price" type="number" class="form-control">
    </div>
    <div class="mb-3">
        <label for="brand">Brand</label>
        <input type="text" [(ngModel)]="newArticle.brand" class="form-control">
    </div>
    <div class="mb-3">
        <label for="category">Category</label>
        <input type="text" [(ngModel)]="newArticle.category" class="form-control">
    </div>
    <div class="mb-3">
        <label for="size">Size</label>
        <input type="text" [(ngModel)]="newArticle.size" class="form-control">
    </div>
    <div class="mb-3">
        <label for="image">Image</label>
        <input type="text" [(ngModel)]="newArticle.image" class="form-control">
    </div>
    <div class="mb-3">
        <label for="color">Color</label>
        <input type="text" [(ngModel)]="newArticle.color" class="form-control">
    </div>
    <div class="mb-3">
        <label for="salesOrgId">Sales Organization</label>
        <!-- <input [(ngModel)]="newArticle.salesOrgId" type="number" class="form-control"> -->
        <div class="input-group mb-3">
        <select [(ngModel)]="newArticle.salesOrgId" class="form-control">
            <option *ngFor="let so of existingSalesOrgs" value="{{so.id}}">{{so.name}}</option>
        </select>
        <button class="btn btn-success" (click)="loadData()">Refresh</button>


        </div>
    </div>
    <div class="container">
        <div class="row">
            <button class="btn btn-success"(click)="saveArticle()">Save</button>
        </div>
        <div class="row mt-3">
            <button class="btn btn-warning"(click)="loadData()">Load Manually</button>
        </div>
    </div>
    <div>
        {{newArticle | json}}
    </div>

    <div>
        {{this.existingSalesOrgs| json}}
    </div>
</div>